*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	font-family: 'Alegreya SC', serif;
	font-weight: 500;
}

nav{
	width: 100%;
	height: 60px;
	background: black;	
	z-index: 1000;
	position: fixed;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li{
	float: left;
	width: 140px;
	height: 60px;
	background: black;
	line-height: 60px;
	text-align: center;
}

nav ul li a{
	color: white;
	text-decoration: none;
	display: block;
}

nav ul li a:hover{
	background: #f89406;
	transition: 0.3s;
}

nav ul li ul li{
	display: none;
}

nav ul li:hover ul li{
	display: block;
}

nav .search-form{
	height: 100%;
	display: inline-flex;
	float: right;
	margin-right: 30px;
}

nav .search-form .search-wrapper{
	height: 100%;
	display: inline-flex;
	float: right;
	margin-right: 30px;
}

nav .search-form .search-wrapper .search-box{
	display: inline-flex;
	width: 240px;
	height: 40px;
	border-radius: 40px;
	background: #f89406;
	margin: auto 0;
}

nav .search-form .search-wrapper .search-box input{
	background: none;
	border: none;
	outline: none;
	margin: auto 20px;
	font-size: 16px;
	width: 170px;
}

nav .search-form .search-wrapper .search-box .search-btn{
	margin: auto -20px;
	color: black;
	background: none;
	border: none;
	height: 40px;
	width: 40px;
}

.content-wrapper{	
	margin: auto 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
}

.content-wrapper .notifications{
	background: #8DC38F;
	width: 75%;
	height: auto;
	margin: 20px auto; 
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #999;
}


.content-wrapper .grid-post{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.content-wrapper .grid-post .post{
	margin: 10px auto;
	height: 240px;
	width: 90%;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	background: black;
	opacity: 0.9;
}

.content-wrapper .grid-post .post .img{
	height: 80%;
	position: relative;
}

.content-wrapper .grid-post .post img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center; 
}

.content-wrapper .grid-post .post .img .btn-wrapper{
	position: absolute;
	right: 0;
}

.content-wrapper .grid-post .post .img .btn-wrapper .edit-btn, 
.content-wrapper .grid-post .post .img .btn-wrapper .delete-btn{
	right: 0;
	display: inline-flex;
	float: right;
	background: black;
	margin-left: 6px;
	width: 40px;
	height: 40px;
}

.content-wrapper .grid-post .post .img .edit-btn i, 
.content-wrapper .grid-post .post .img .delete-btn i{
	margin: auto;
}

.content-wrapper .grid-post .post .img a{
	text-decoration: none;
	color: white;
}

.content-wrapper .grid-post .post .title{
	height: 20%;
	color: white;
	margin-top: 10px;
}

.content-wrapper .grid-post .post .title h3{
	font-size: 14px;
	font-weight: 500;
}